################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fractals/Debug
/Fractals/Fractals/Debug
*.opensdf
*.sdf
*.suo
